@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
  background-color: rgb(253, 21, 35);
  color: black;
  transition: background-color 1s;
  font-family: 'Russo One', sans-serif;
  transition: background-color 1.5s;
}

/* Javascript background colour classes */
.background1 {
  background-color: rgb(255, 0, 126);
}

.background2 {
  background-color: rgb(229, 85, 255);
}

/* Fixed bar on the left-hand side of the page */
section.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  padding: 5%;
  display: flex;
  justify-content: flex-start;
}

/* This is the big slide in title that appears on the left */
.big-title {
  position: absolute;
  transform: translateY(-50%);
  top: -200px;
  font-size: 10vmin;
  letter-spacing: 10px;
  transition: font-size 1s, opacity 0.4s, top 2s;
  color: white;
}

/* This is the big slide in title that appears on the left */
/* Heading styles */
h2, h3 {
  text-transform: uppercase;
  letter-spacing: 10px;
}

h2 {
  font-size: 3.5vmin;
  padding: 20px;
  color: white;
}

h3 {
  font-size: 10vmin;
  text-decoration: none;
  align: left;
  color: black;
  padding: 20px;
}

/* Navigation styles */
nav {
  position: absolute;
  top: 60%;
  z-index: 10;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

nav a {
  padding: 30px 30px 30px 0px;
  color: black;
}

nav a:hover {
  color: white;
}

/* Scrollable main content area styles */
main {
  margin-top: 100vh;
  margin-bottom: 100vh;
  margin-left: 50%;
  z-index: 100;
  width: 50%;
}

section.about-content {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
}

.down-arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
}

section.project {
  text-align: center;
  margin: 300px 0px;
  padding: 0px 15px;
}

/* Large text that slides in from the bottom */
.hidden-text {
  position: absolute;
  opacity: 0;
  bottom: 15%;
  transition: bottom 1s, opacity 1s;
}

.mobile-text {
  display: none;
}

video {
  width: 80%;
}

@media screen and (max-width: 1070px) {
  h1 {
    font-size: 7vmin;
  }

  h3 {
    font-size: 7vmin;
  }
}

@media screen and (max-width: 870px) {
  h1 {
    font-size: 5vmin;
  }

  .mobile-text {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  section.fixed {
    position: static;
    height: 500px;
  }

  main {
    margin-top: 25px;
    margin-bottom: 25px;
    width: auto;
    margin-left: 0;
  }

  video {
    max-width: 100%;
  }

  .hidden-text {
    position: static;
    padding: 30px;
  }

  section.project {
    margin: 100px 0px;
  }

  section.about-content {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-50%);
  }

  section.fixed {
    width: 100%;
  }
}